.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% 30%;
  background-color: black;
  padding: 5%;
  border-radius: 20px;
  position: sticky;
}
